.venv/
media/
staticfiles/
data/
.vscode/
__pycache__/
db.sqlite3
static/
node_modules/
.DS_Store
Thumbs.db
*.log
*.sqlite3
*.pid
*.swp
*.swo
*.env
*.local
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.vite/